version 5.236.6
framework: auto-detect
storage: none
source https://www.nuget.org/api/v2/

nuget NUnit ~> 3.12
nuget NUnit3TestAdapter ~> 3.17
nuget Microsoft.NET.Test.Sdk ~> 15.9
nuget Microsoft.TestPlatform.ObjectModel ~> 16.10
nuget Mono.TextTemplating ~> 2.2
nuget Microsoft.CodeAnalysis ~> 3.3
nuget Microsoft.CodeAnalysis.CSharp ~> 3.9
nuget BenchmarkDotNet ~> 0.12
